Pillow>=10.0.0
mss>=9.0.0
pynput>=1.7.6
requests>=2.31.0
psutil>=5.9.0
numpy>=1.24.0
rapidocr-onnxruntime>=1.4.4
onnxruntime>=1.7.0
opencv-python>=4.5.1
pyclipper>=1.2.0
Shapely>=1.7.1
six>=1.15.0
PyYAML>=6.0
tqdm>=4.0
